.App {
  margin-top: 15px;
}

.App .navbar-brand {
  font-weight: bold;
  text-align: center;
  line-height: 200%;
  font-size: 20px;
}
.App .collapse {
  font-size:15px;
}
.App .nav{
  padding: 10px;
  font-size:15px;
  font: "Open-Sans";
  font-weight:bold;
}